<footer>
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links">
						<li>
							<a href="">
								<i class="fa fa-angle-double-right"></i>Politique de protection des données</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-angle-double-right"></i>Mentions légales</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-angle-double-right"></i>Nous contacter</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</footer>
