<a class="nav-link" href="{{ path('user_new') }}">Ajouter un nouveau propriétaire</a>
<a class="nav-link" href="{{ path('bien_new') }}">Ajouter un nouveau bien</a>
<a class="nav-link" href="{{ path('annonce_new') }}">Publier un nbien en vente ou en location</a>
