{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    <a href="{{ path('home') }}">retour à l'accueil</a>
    {{ include('user/_form.html.twig') }}
{% endblock %}
